/* 3 onmouseover=""   onmouseleave=""
element.classList.add("shadow")
element.classList.remove("shadow") */

*{
    /* outline:red 1px dotted; */
}
.shadow {
    box-shadow: 5px 5px 5px #999;
    position:relative;
    bottom:5px;
    cursor:pointer;
}

.block {
    height:50px;
    width:200px;
    background-color: silver;
    border: 1px dotted black;
}

/* 4 document.querySelector("xxxxx")
xxxxx.innerText = yyyyy
xxxxx.src = 
xxxxx.alt = 
element.style.backgroundColor=""
element.style.color = "" */

.red {
    background-color: red;
    color:white;
    padding:1vw;
}
.yellow {
    background-color: yellow;
    color:green;
    padding:1vw;
}
/* 9 document.querySelectorall("...") */
.color {
    display:inline-block;
    margin:1vw;
}
